src/ws_client/dvl/dvl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Server/" name="ServerService">
<types>
<xsd:schema>
<xsd:import namespace="http://Server/" schemaLocation="http://localhost:8000/dvl?xsd=1"/>
</xsd:schema>
</types>
<message name="run">
<part name="parameters" element="tns:run"/>
</message>
<message name="runResponse">
<part name="parameters" element="tns:runResponse"/>
</message>
<message name="initServer">
<part name="parameters" element="tns:initServer"/>
</message>
<message name="initServerResponse">
<part name="parameters" element="tns:initServerResponse"/>
</message>
<message name="checkAdminId">
<part name="parameters" element="tns:checkAdminId"/>
</message>
<message name="checkAdminIdResponse">
<part name="parameters" element="tns:checkAdminIdResponse"/>
</message>
<message name="createRoom">
<part name="parameters" element="tns:createRoom"/>
</message>
<message name="createRoomResponse">
<part name="parameters" element="tns:createRoomResponse"/>
</message>
<message name="deleteRoom">
<part name="parameters" element="tns:deleteRoom"/>
</message>
<message name="deleteRoomResponse">
<part name="parameters" element="tns:deleteRoomResponse"/>
</message>
<message name="bookRoom">
<part name="parameters" element="tns:bookRoom"/>
</message>
<message name="bookRoomResponse">
<part name="parameters" element="tns:bookRoomResponse"/>
</message>
<message name="changeReservation">
<part name="parameters" element="tns:changeReservation"/>
</message>
<message name="changeReservationResponse">
<part name="parameters" element="tns:changeReservationResponse"/>
</message>
<message name="getAvailableTimeSlotCount">
<part name="parameters" element="tns:getAvailableTimeSlotCount"/>
</message>
<message name="getAvailableTimeSlotCountResponse">
<part name="parameters" element="tns:getAvailableTimeSlotCountResponse"/>
</message>
<message name="getAvailableTimeSlotByRoom">
<part name="parameters" element="tns:getAvailableTimeSlotByRoom"/>
</message>
<message name="getAvailableTimeSlotByRoomResponse">
<part name="parameters" element="tns:getAvailableTimeSlotByRoomResponse"/>
</message>
<message name="cancelBooking">
<part name="parameters" element="tns:cancelBooking"/>
</message>
<message name="cancelBookingResponse">
<part name="parameters" element="tns:cancelBookingResponse"/>
</message>
<message name="checkIDAdmin">
<part name="parameters" element="tns:checkIDAdmin"/>
</message>
<message name="checkIDAdminResponse">
<part name="parameters" element="tns:checkIDAdminResponse"/>
</message>
<portType name="Server">
<operation name="run">
<input wsam:Action="http://Server/Server/runRequest" message="tns:run"/>
<output wsam:Action="http://Server/Server/runResponse" message="tns:runResponse"/>
</operation>
<operation name="initServer">
<input wsam:Action="http://Server/Server/initServerRequest" message="tns:initServer"/>
<output wsam:Action="http://Server/Server/initServerResponse" message="tns:initServerResponse"/>
</operation>
<operation name="checkAdminId">
<input wsam:Action="http://Server/Server/checkAdminIdRequest" message="tns:checkAdminId"/>
<output wsam:Action="http://Server/Server/checkAdminIdResponse" message="tns:checkAdminIdResponse"/>
</operation>
<operation name="createRoom">
<input wsam:Action="http://Server/Server/createRoomRequest" message="tns:createRoom"/>
<output wsam:Action="http://Server/Server/createRoomResponse" message="tns:createRoomResponse"/>
</operation>
<operation name="deleteRoom">
<input wsam:Action="http://Server/Server/deleteRoomRequest" message="tns:deleteRoom"/>
<output wsam:Action="http://Server/Server/deleteRoomResponse" message="tns:deleteRoomResponse"/>
</operation>
<operation name="bookRoom">
<input wsam:Action="http://Server/Server/bookRoomRequest" message="tns:bookRoom"/>
<output wsam:Action="http://Server/Server/bookRoomResponse" message="tns:bookRoomResponse"/>
</operation>
<operation name="changeReservation">
<input wsam:Action="http://Server/Server/changeReservationRequest" message="tns:changeReservation"/>
<output wsam:Action="http://Server/Server/changeReservationResponse" message="tns:changeReservationResponse"/>
</operation>
<operation name="getAvailableTimeSlotCount">
<input wsam:Action="http://Server/Server/getAvailableTimeSlotCountRequest" message="tns:getAvailableTimeSlotCount"/>
<output wsam:Action="http://Server/Server/getAvailableTimeSlotCountResponse" message="tns:getAvailableTimeSlotCountResponse"/>
</operation>
<operation name="getAvailableTimeSlotByRoom">
<input wsam:Action="http://Server/Server/getAvailableTimeSlotByRoomRequest" message="tns:getAvailableTimeSlotByRoom"/>
<output wsam:Action="http://Server/Server/getAvailableTimeSlotByRoomResponse" message="tns:getAvailableTimeSlotByRoomResponse"/>
</operation>
<operation name="cancelBooking">
<input wsam:Action="http://Server/Server/cancelBookingRequest" message="tns:cancelBooking"/>
<output wsam:Action="http://Server/Server/cancelBookingResponse" message="tns:cancelBookingResponse"/>
</operation>
<operation name="checkIDAdmin">
<input wsam:Action="http://Server/Server/checkIDAdminRequest" message="tns:checkIDAdmin"/>
<output wsam:Action="http://Server/Server/checkIDAdminResponse" message="tns:checkIDAdminResponse"/>
</operation>
</portType>
<binding name="ServerPortBinding" type="tns:Server">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="run">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="initServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkAdminId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changeReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAvailableTimeSlotCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAvailableTimeSlotByRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkIDAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServerService">
<port name="ServerPort" binding="tns:ServerPortBinding">
<soap:address location="http://localhost:8000/dvl"/>
</port>
</service>
</definitions>